<% if object.errors.any? %>
  <div>
    <strong>Sorry! We were not able to save due to the following errors:</strong>
    <ul>
      <% object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
